.chat-window {
    position: absolute;
    padding: 20px;
    background-color: white;
    border: 1px solid #bbb;
    border-radius: 20px 20px 3px 20px;
    width: 300px;
    height: 300px;
    bottom: calc(100% - 15px);
    right: calc(100% - 15px);
}

.chat-window > span, .chat-window > p {
    float: left;
}

.chat-window > span {
    color: blue;
    padding-right: 5px;
}

.chat-button * {
    pointer-events: none;
}