.paragraph {
    width: 680px;
    border: 1px solid #bbb;
    border-radius: 20px;
    padding: 20px;
    height: 400px;
    margin: 0 auto;
}

.profile {
    height: 100%;
    width: 40%;
    border-right: 1px solid #bbb;
    float: left;
    padding-right: 20px;
    line-height: 24px;
}

.details {
    padding-left: 20px;
    height: 100%;
    width: 60%;
    float: left;
    line-height: 24px;
    overflow: auto;
}

.profile-pic {
    width: 100%;
    margin-bottom: 20px;
}